{% load static %}

<!DOCTYPE html>


<html>

	<head>

	<meta charset="utf-8">

	<title>BLOG</title>

 	<link href="{% static '/css/css1.css'%}" rel="stylesheet" type="text/css">


	</head>
	<body>

		<div class="container">
			<button class="btn btn1" onclick="location.href='Q1.html';">Univeristy reflections</button>
			<button class="btn btn2" onclick="location.href='Q2.html';">upcoming academic year</button>
			<button class="btn btn3" onclick="location.href='Q3.html';">Description of how Django works</button>
			<button class="btn btn4" onclick="location.href='Q4.html';">tdd implementation with portfolio</button>
		</div>



	</body>


</html>
