{% load static %}


<!DOCTYPE html>
<html>
	<head>
 	<link href="{% static '/css/css.css'%}" rel="stylesheet" type="text/css">
 	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	</head>
	<body>

	<div id="particles-js">		</div>

		<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
		<script src= "{% static '/js/app.js' %}"> </script>
		<script src= "{% static '/js/particles.js' %}"> </script>





		<div id="blog">
			<p id="content" onclick="location.href='base/blog.html';">
				BLOG
			</p>
		</div>
		<div id="line"></div>
		<div id="portfolio">
			<p id="content" onclick="location.href='base/home.html';">
				PORTFOLIO
			</p>
		</div>



	</body>
</html>
