{% load static %}



<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="{% static '/css/css1.css'%}" rel="stylesheet" type="text/css">


	<title>upcoming academic year</title>
</head>
<body>

<div class="row">
  <div class="column">
    <div class="card1">
			<h1>upcoming academic year</h1>

      <p>Unfortunately I didn’t got the placement due to the current epidemic. As I was going to study my final year and I was looking forward for it. The final year have more challenging  and interesting modules as AI student I gonna learn neural computing , machine learning and robotics and data analysis. I cant wait to start this academic year and curious about what they gonna say.  </p>
    </div>
  </div>
</div>

</body>
</html>

