{% load static %}



<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="{% static '/css/css1.css'%}" rel="stylesheet" type="text/css">


	<title>Description of how Django works</title>
</head>
<body>

<div class="row">
  <div class="column">
    <div class="card1">
       <h1>why Django</h1>
      <p>Django is an open-source python web framework used for rapid development, pragmatic, maintainable, clean design, and secure websites.
				A web application framework is a toolkit of all components needed for application development.
				The main goal of the Django framework is to allow developers to focus on components of the application that are new instead of spending time on already developed components.
				Django is fully featured than many other frameworks on the market.
				It takes care of a lot of hassles involved in web development; enables users to focus on developing components needed for their application.</p>

				<h1>structure of my site </h1>

			<p>Well I started by seeing some tutorials in YouTube and watched some css effects.
				First I started the website by the portfolio.
				First it was like a few cards and the content in it later I started to use css card effects and created the static folder .
				 We can use Django’s template engine to display data (css, img, javascript) in very powerful ways.
				 In this section, I created a Django view that will pass data into a template.
				 It will show us how to access that data in the template and display it to the user.
				 I used javascript for the dark mood and the particles effect for the home page.
				 Then I started doing the blog and used some effect. </p>
    </div>
  </div>
</div>

</body>
</html>
