{% load static %}



<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="{% static '/css/css1.css'%}" rel="stylesheet" type="text/css">


	<title>tdd implementation with portfolio</title>
</head>
<body>

<div class="row">
  <div class="column">
    <div class="card1">

			<h1>TDD implementation</h1>


      <p>TDD means “Test Driven Development”.
				The primary goal of TDD is to make the code clearer, simple, and bug-free. Writing tests after writing the code is hard.
				As the code can be written without testability in mind, it might not be testable. Hence, we would need to change our code again to make it testable and I started with some tutorial about TTD in Django.
				they are two types of tests one is a functional test and another is a unit test.
				So the functional test is all about the deal with the way a user will interact with your project also known as functionality on other hand unit test is all about Ensure that small pieces of your project are working as they should.
				And writing the tests in selenium is a really easy one it allows us to test it on a specific browser. </p>
				<hr>
				<h1>Overall experience with this assignment</h1>
      <p>
				Finally, I enjoyed this assignment at first I don’t know anything about web development while doing the assignment I learned quite a lot.
				Unfortunately due to the circumstances in my place I couldn’t able to submit the assignment in time.
				But I am glad I finally finished it. I could use this skill in my upcoming projects.
			</p>
    </div>
  </div>
</div>

</body>
</html>
